* {margin:0; padding: 0;}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

#container-fluid {
    width: 1116px;
    height: 4096px;
    /* background-color: lightgreen; */
    margin: 0 auto;
}

nav {
    width: 1116px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: px;
    padding-left: 132px;
    color: #91979f;
    background-color: white;
    box-sizing: border-box;
}

nav h1 {
    margin-right: 320px;
    margin-left: 7px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-left: 2px;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: #84a9dd;
    border-radius: 50%;
}

.brand-name {
    margin-left: 5px;
    font-size: 20px;
    color: black;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0;
    padding-left: 127px;
    background-color: white;
}

.header{
    width: 333px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 80px;
}

.header h1 {
    width: 320px;
}

.header p{
    margin: 30px 0;
}

.consult-btn {
    width: 155px;
    height: 50px;
    color: white;
    background-color: #458ff6;
    border-radius: 30px;
    border-color: #458ff6;
    padding: 5px;
}

.home-img {
    width: 50%;
    height: 50%;
}

.services {
    width: auto;
    height: 900px;
    background-color: white;
}

.service-header {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

.service-line {
    width: 40px;
    height: 2px;
    margin: 25px;
    background-color: black;
}

.service-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.service-card {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0.5px 2px 5px lightgray;
}

.service-card img {
    height: 30%;
    margin-top: 35px;
    margin-left: 30px;
}
.service-card-text {
    width: 180px;
    height: 90px;
}

.service-card h1 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.service-card p {
    margin-left: 30px;
    font-size: 12px;
}

.service-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 30px auto;
    background-color: white;
    border-color: #458ff6;
    color: #458ff6;
    border-radius: 30px;
    padding: 20px 50px;
}

.provider-header{
    width: 333px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 90px;
}

.provider-header h1 {
    width: 320px;
}

.provider-header p{
    margin: 30px 0;
}

.provider-btn {
    background-color: white;
    border-color: #458ff6;
    color: #458ff6;
    border-radius: 30px;
    padding: 20px 50px;
}

.app-header{
    width: 333px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 90px;
}

.app-header h1 {
    width: 320px;
}

.app-header p{
    margin-top: 15px;
    margin-bottom: 50px;
}

.app-btn {
    background-color: white;
    border-color: #458ff6;
    color: #458ff6;
    border-radius: 30px;
    padding: 10px 50px;
}

.app-line {
    width: 40px;
    height: 2px;
    background-color: black;
    margin: 15px 0;
}

.testimonials {
    margin-bottom: 100px;
    border-radius: 30px;
    color: white;
    background-color: #5b9bf2;
}

.testimonial-line {
    width: 40px;
    height: 2px;
    margin: 25px;
    background-color: white;
}

.testimonials-content {
    width: 780px;
    height: 295px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
}

.circle {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    background-color: white;
    border-radius: 50%;
}

.avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid white;
    border-radius: 50%;
}

.name {
    width: 135px;
    height: 40px;
    margin-top: 15px;
    margin-right:150px;
}

.words {
    width: 325px;
    height: 90px;
    margin-top: 15px;
}

.about {
    background-color: white;
    padding: 100px 0;
}

.about-content {
    width: 782px;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

.about-card {
    width: 245px;
    height: 360px;
    margin: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden;
    box-shadow: 0.5px 2px 5px lightgrey;
}

.about-card-text {
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
}

.about-card p {
    margin-top: 15px;
    font-size: 12px;
}

.read {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 12px;
    color: #84b3f3;
}

.about-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 50px auto;
    background-color: white;
    border-color: #458ff6;
    color: #458ff6;
    border-radius: 30px;
    padding: 20px 50px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    background-color: #63b7f3;
    padding: 50px;
    color: white;
}

.right-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-left: 100px;
}

.right-footer ul {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.right-footer ul li {
    margin: 5px;
}

.right-footer h4 {
    margin-bottom: 10px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.end-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.end-text {
    width: 330px;
}

.right-footer ul li {
    list-style: none;
}

.footer-logo {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-right: 2px;
    text-align: center;
    font-size: 12px;
    color: #63b7f3;
    background-color: white;
    border-radius: 50%;
}

.footer-brand-name {
    margin-left: 5px;
    font-size: 20px;
    color: white;
}